:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --white-color: #ffffff;
  --bg-text-color: rgba(47, 48, 58, 0.8);
  --bg-footer-color: #2f303a;
  --bg-team-color: #f5f4fa;
  --address-text-color: rgba(255, 255, 255, 0.6);
  --cards-bg-color: rgba(33, 150, 243, 0.9);
  --filter-bg-color: #f5f4fa;
}

body {
  background-color: var(--white-color);
  color: var(--primery-text-color);

  font-family: Roboto;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.main-nav {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

/* Site nav */

.logo {
  margin-right: 85px;

  color: var(--accent-text-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo .studio {
  color: var(--title-text-color);
}

.site-nav {
  display: flex;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-text-color);
}

.site-nav .current {
  color: var(--accent-text-color);
}

/* Sing in */

.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav .item + .item {
  margin-left: 30px;
}

.auth-nav .link {
  display: block;
  color: var(--primery-text-color);

  font-weight: 500;
  letter-spacing: 0.02em;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-text-color);
}

/* Hero */

.hero {
  text-align: center;
  background-color: var(--bg-text-color);
}

.hero .title {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--white-color);
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  color: var(--white-color);
  background-color: var(--accent-text-color);

  font-family: Roboto;
}

.hero .button {
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  margin-top: 30px;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

/* Work */

.work .list {
  display: flex;
}

.img-item {
  display: flex;
  justify-content: center;
  height: 120px;

  background-color: var(--filter-bg-color);
}

.work .item + .item {
  margin-left: 30px;
}

.work p {
  margin-top: 10px;
  margin-bottom: 0;
  line-height: 1.71;
}

.work .title {
  margin-top: 30px;
  margin-bottom: 0;
  color: var(--title-text-color);

  font-weight: 700;
  text-transform: uppercase;
}

.title.main {
  margin-top: 94px;
  margin-bottom: 50px;
  text-align: center;
}

/* What are we doing */

.doing {
  margin-bottom: 94px;
}

.doing .title {
  margin-top: 94px;
  margin-bottom: 50px;
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.doing .text {
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
  min-width: 370px;
  min-height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  color: var(--white-color);
  background-color: var(--bg-text-color);

  font-weight: 700;
  text-transform: uppercase;
}

/* Team */

.team {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--bg-team-color);
}

.team .list {
  display: flex;
}

.team .item + .item {
  margin-left: 30px;
}

.social .item + .item {
  margin-left: 10px;
}

.team .item {
  width: calc((100% - 90px) / 4);
}

.team .title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.title.name {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team p {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team .social {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

/* Clients */

.clients {
  padding-bottom: 94px;
}

.clients .list {
  display: flex;
}

.clients .item + .item {
  margin-left: 30px;
}

.clients .item {
  display: flex;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 90px;
}

.clients .title {
  margin-top: 94px;
  margin-bottom: 50px;
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.clients a:hover {
  background-color: var(--accent-text-color);
}

.clients li:last-child {
  margin-right: 0;
}

.company {
  align-self: center;
}

/* Footer */
.footer {
  background-color: var(--bg-footer-color);
}

.footer .studio {
  color: var(--white-color);
}

.address a {
  color: var(--white-color);
}

.mail a,
.phone a {
  color: var(--address-text-color);
}

.join {
  color: var(--white-color);

  font-weight: 700;
  text-transform: uppercase;
}

.address,
.mail,
.phone {
  line-height: 1.71;
}

.subscribe {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
}

/* Portfolio */
.portfolio-title {
  text-align: center;
}

/* Filter */

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter .item + .item {
  margin-left: 8px;
}

.filter button {
  color: var(--title-text-color);
  background-color: var(--filter-bg-color);
  border-width: 0;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}

.filter button:hover,
.filter button:focus {
  color: var(--white-color);
  background-color: var(--accent-text-color);
}

/* Cards */

.cards {
  display: flex;
  flex-wrap: wrap;
}

.cards .item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.cards .item:nth-child(3n) {
  margin-right: 0;
}

.cards .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.cards .title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.description {
  color: var(--white-color);
  background-color: var(--cards-bg-color);

  font-size: 18px;
  line-height: 1.56;
}

.category {
  color: var(--primery-text-color);
  font-size: 16px;
  line-height: 1.87;
}
